<!DOCTYPE html>
<html lang="fr">

{% include 'includes/head.html' %}

<body>
    <h1>Créer une partie</h1>

    {% if code_partie == "" %}
        <form action="creer/attente" method="">
            <p>
                <!-- Demande du pseudo -->
                <label for="pseudo">Pseudo : </label>
                <input type="text" name="pseudo" id="pseudo" autofocus required>
            </p>
            <p>
                <!-- Bouton pour valider -->
                <input type="submit" value="créer">

            </p>
        </form>
    
    {% else %}
        <p>Code : {{code_partie}}</p>
        <p>{{message}}</p>
        
        <!-- Conteneur pour le QR code -->
        <div id="qrcode"></div>

        <script src="https://cdn.jsdelivr.net/npm/qrcode-generator@1.4.4/qrcode.min.js"></script>
        <script>
            function genererQRCode() {
                var qr = qrcode(0, 'M');
                // Ajout de |safe pour que l'URL soit bien interprétée par le téléphone
                qr.addData(location.protocol+'//'+location.host+"/rejoindre?code={{code_partie}}");
                qr.make();
                
                // Affichage avec une taille de module de 5
                document.getElementById('qrcode').innerHTML = qr.createImgTag(5);
            }

            window.onload = genererQRCode;
        </script>


	<!-- Declencher redirection si adversaire a rejoint -->
	<script>setInterval(async () => {
	  const aRejoint = await (await fetch('est-ce-que-adversaire-a-rejoint')).text()
	  if(aRejoint == 'True')
	    window.location.reload();	
	}, 100);</script>
    
    {% endif %}

</body>

</html>
