<!DOCTYPE html>
<html lang="fr">

{% include 'includes/head.html' %}

<body>
    <h1>Créer une partie</h1>

    {% if code_partie == "" %}
        <form action="creer/attente" method="">
            <p>
                <!-- Demande du pseudo -->
                <label for="pseudo">Pseudo : </label>
                <input type="text" name="pseudo" id="pseudo" autofocus required>
            </p>
            <p>
                <!-- Bouton pour valider -->
                <input type="submit" value="créer">

            </p>
        </form>
    
    {% else %}
        <p>Code : {{code_partie}}</p>
        <p>{{message}}</p>

	<!-- Declencher redirection si adversaire a rejoint -->
	<script>setInterval(async () => {
	  const aRejoint = await (await fetch('est-ce-que-adversaire-a-rejoint')).text()
	  if(aRejoint == 'True')
	    window.location.reload();	
	}, 100);</script>
    
    {% endif %}

</body>

</html>
