<!DOCTYPE html>
<html lang="fr">

{% include 'includes/head.html' %}

<body>
    <h1>Jeu du Pendu (multijoueur)</h1>

    <form action="creer" method="">

        <p>
            <!-- Bouton de création de partie -->
            <input type="submit" value="créer une partie">

        </p>
    </form>
    <form action="rejoindre" method="">

        <p>
            <!-- Bouton de création de partie -->
            <input type="submit" value="rejoindre une partie">

        </p>
    </form>
</body>

</html>