<!DOCTYPE html>
<html lang="fr">

{% include 'includes/head.html' %}

<body>
    <p>{{pseudo|title}}</p>

    <h1>{{mot_cherche}}</h1>
    <pre>{{bonhommes[8-vies]}}</pre>
    <p>Fausses lettres : {{f_lettres}}</p>

    <form action="/partie" method="">
        <p>
            <!-- Champ de type "text" -->
            <label for="nom">Lettre : </label>
            <input type="text" name="lettre" id="lettre" maxlength="1" autofocus>

            <!-- Bouton de validation -->
            <input type="submit" value="Valider !">

        </p>
    </form>
    <BR>
    <p>_________________________________________________</p>
    
    <div id="adversaire">
    </div>
   
    <script>
    setInterval(async function() {
      const zone = document.querySelector('#adversaire')

      const etatJeuAdversaire = await fetch('/partie/adversaire')

      zone.innerHTML = await etatJeuAdversaire.text()
    }, 100);
    </script>

</body>

</html>
